<div class="p-5 pe-2 col-3">
    <ul class="list-group list-group-flush border rounded h-100">
      <li class="list-group-item active">Account Settings</li>
      <li class="list-group-item list-group-item-action">Transactions</li>
      <li class="list-group-item list-group-item-action rounded-0">Security</li>
    </ul>
  </div>
  <div class="p-5 ps-2 col-9">
    <div class="card h-100 border">
      <div class="card-body">
        <h1 class="text-center mb-4">Profile Settings</h1>
      </div>
    </div>
  </div>