#hero {
    cursor: pointer;
    transition: all 0.2s;
}

#hero:hover img {
    filter: brightness(100%);
    transform: scale(1.02);
}

.card {
    cursor: default;
}

.card img {
    transition: all 0.2s;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.05);
}