#hero {
    cursor: pointer;
    transition: all 0.2s;
    filter: brightness(85%);
}

#hero:hover {
    filter: brightness(100%);
}

.card {
    cursor: default;
}

.card img {
    transition: all 0.2s;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.05);
}